<header class="navbar">
  <div class="logo">CampusConnect</div>
  <nav class="nav-links">
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">My Home</a></li>
      <li>
        <a href="#">Services</a>
        <ul class="dropdown">
          <li><a href="#">Libraries</a></li>
          <li><a href="#">Professors</a></li>
          <li><a href="#">Printing</a></li>
          <li><a href="#">My Courses</a></li>
          <li><a href="#">Starfish</a></li>
          <li><a href="#">Tiger Center</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>