<header class="navbar">
  <div class="logo">CampusConnect</div>
  <nav class="nav-links">
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">My Home</a></li>
      <li><a href="#">Jobs/Co-op</a>
        <ul class="dropdown">
          <li><a href="#">Job Search</a></li>
          <li><a href="#">Career Fair</a></li>
          <li><a href="#">Job Alerts</a></li>
        </ul>
      </li>
      <li><a href="#">Tutoring</a></li>
      <li><a href="#">Services</a>
        <ul class="dropdown">
          <li><a href="#">Libraries</a></li>
          <li><a href="#">Professors</a></li>
          <li><a href="#">Printing</a></li>
          <li><a href="#">My Courses</a></li>
          <li><a href="#">Starfish</a></li>
          <li><a href="#">Tiger Center</a></li>
        </ul>
      </li>
      <li><a href="#">Profile</a>
        <ul class="dropdown">
          <li><a href="#">LinkedIn Profile</a></li>
          <li><a href="#">Posts</a></li>
          <li><a href="#">Virtual Cards</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>